name: Go

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
#     paths:
#       - "go/*"

jobs:

  setup:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: go

    steps:
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18

    - name: Checkout
      uses: actions/checkout@v3

    - name: Build
      run: go build -v ./...

    - name: Cache
      uses: actions/cache@v3
      with:
        path: |
          ~/go/pkg/mod
          ~/.cache/go-build
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: ${{ runner.os }}-go

  test:
    runs-on: ubuntu-latest
    needs: setup
    defaults:
      run:
        working-directory: go

    steps:
    - name: Test
      run: go test -v ./...

  lint:
    runs-on: ubuntu-latest
    needs: setup
    defaults:
      run:
        working-directory: go

    steps:
    - name: Lint
      uses: golangci/golangci-lint-action@v3
