name: Go

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    paths:
      - "go/*"

jobs:

  setup:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: go

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version-file: 'go/go.mod'
        cache: true
        cache-dependency-path: go/go.sum

    - name: Build
      run: go build -v ./...

  test:
    runs-on: ubuntu-latest
    needs: setup
    defaults:
      run:
        working-directory: go

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Test
      run: go test -v ./...

  lint:
    runs-on: ubuntu-latest
    needs: setup
    permissions:
      contents: read
    defaults:
      run:
        working-directory: go

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Lint
      uses: golangci/golangci-lint-action@v3
      with:
        working-directory: go
